
html,body {
    background: url(../img/bg2.png);
    background-size: cover;
    height: 100%;
}

.title
{
    font-size: 26px;
    cursor: default;
    color: #cfbeaa;
    text-shadow:0px 0px 3px #cfbeaa;
    margin-bottom: 2%;
}
.subtitle {
    font-size: 26px;
    cursor: default;
    color: #cfbeaa;
    text-shadow:0px 0px 3px #cfbeaa;
    margin-bottom: 3%;
}
.header {
    min-height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4%;
    padding: 0 30px;
    background-color: #cfbeaa29;
    box-shadow: 0px 0px 5px #cfbeaa;
}

.header__title {
    cursor: default;
    font-size: 50px;
    color: #cfbeaa;
    text-shadow:0px 0px 3px #cfbeaa;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
input{
    text-align: center;
    font-size: 18px;
    border-bottom: 0px solid;
    outline:none;
    height: 25px;
    width: 300px;
    border-width: 0px;
    border-radius: 1px;
    color: #cfbeaa;
    background: 0;
    border-bottom-width: 1px;
    border-bottom: #cfbeaa;
    border-bottom: 2px solid #cfbeaa;
    margin-bottom: 24px;
    cursor: text;
}

input::placeholder
{
    font-family: Roboto, sans-serif;
    color: #cfbeaa;
}

input:focus{
    transition: all 500ms ease;
    box-shadow:5px 0px 30px #cfbeaa;
    color: #cfbeaa;
    background: rgba(255, 255, 255, 0.51);
}

.inputs {
    background-color: #cfbeaa29;
    border-radius: 22px;
    min-height: 460px;
    min-width: 530px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 3%;
    box-shadow:0px 0px 10px #cfbeaa;
}

.inpWrrapper {
    position: relative;
}

.lb {
    font-size: 22px;
    position: absolute;
    top: -7px;
    left: 0;
    color: #cfbeaa;
    transition: 0.3s;
    cursor: pointer;
}
.i:focus ~ .lb,
.i:not(:placeholder-shown) ~ .lb{
    font-size: 18px;
    top:-24px;
    left: 0px;
    color:#cfbeaa;
    cursor: default;
}


.btn {
    font-size: 18px;
    cursor: pointer;
    font-family: 'Averia Serif Libre';
    height: 36px;
    width: 200px;
    border-width: 0px;
    border-radius: 20px;
    color: #cfbeaa;
    background: 0;
    box-shadow: inset 0  0 0 3px #cfbeaa;
}
.btn:hover{
    transition: all 1s ease;
    background: #cfbeaa29;
    color: #cfbeaa;
    box-shadow: 0 0 20px #cfbeaa;
}

.try:active{
    transition: all 70ms ease;
    box-shadow:0 0 30px #21b4da;
    background: rgb(255, 255, 255);
}
.res:active{
    transition: all 70ms ease;
    box-shadow:0 0 30px #e10f0f;
    background: rgba(255, 255, 255, 0.62);
}
.result
{
    height: 40px;
    min-height: 0px;
    text-align: center;
    color: #cfbeaa;
    text-shadow:0px 0px 10px #cfbeaa;
    margin-bottom:  5%;
}


.input-group
{
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 5%;
}

.btns {
    min-width: 450px;
    display: flex;
    justify-content: space-between;
}

.swap-themes {
    display: flex;
    justify-content: flex-end;
}

.swap {
    font-size: 18px;
    cursor: pointer;
    font-family: 'Averia Serif Libre';
    height: 36px;
    width: 200px;
    border-width: 0px;
    border-radius: 20px;
    color: #cfbeaa;
    background: 0;
    box-shadow: inset 0  0 0 3px #cfbeaa;
}
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"]:checked + label{
    background-color: #0096882b;
}
.label-swap {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Averia Serif Libre';
    height: 36px;
    width: 120px;
    border-width: 0px;
    border-radius: 20px;
    color: #cfbeaa;
    background: 0;
    box-shadow: inset 0  0 0 3px #cfbeaa;
}
.label-swap:hover {
    transition: 1s;
    background: #cfbeaa29;
    color: #cfbeaa;
    box-shadow: 0 0 20px #cfbeaa;
}

.footer {
    display: flex;
    align-items: center;
    padding: 0 30px;
    background-color: #cfbeaa29;
    box-shadow: 0px 0px 5px #cfbeaa;
}
.footer-text {
font-size: 24px;
color: #ecf3f9;
cursor: default;
}
li {
list-style: none;
margin-right: 15px;
}

ul {
    display: flex;
    justify-content: space-between;
}

.github-icon {
    max-width: 50px;
}

.git-link{
    text-shadow: 0 0 10px #ebf2f9;
    text-decoration: none;
    font-size: 24px;
    color: #ecf3f9;
    display: flex;
    align-items: center;
}