.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.imputs {
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-bottom: 30px;
}

.try {
    margin-bottom: 30px;
}